/*Joes pizza place*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.menu {
    margin: 50px;
}

.btn {
    margin: 20px auto auto 50px;
}